@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #0e0e0e;
}

li {
    list-style: none;
    margin: 16px;
}

a {
    text-decoration: none;
    color: #9ba3b4;
}

.header,
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header {
    border: 2px solid black;
}


.cname {
    font-weight: 650;
    color: aliceblue;
    font-size: 1.1rem;
}

.tabs {
    font-size: 0.95rem;
    align-items: center;
    font-weight: 600;
}

.contain {
    margin-top: 5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 8rem;
    margin-right: 8rem;

}

h1 {
    color: aliceblue;
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    margin-top: 2rem;

}

.tgline {
    color: #9ba3b4;
    border: 0.1px solid rgba(255, 255, 255, 0.07);
    background-color: rgba(255, 255, 255, 0.04);
    font-size: 0.8rem;
    font-weight: 650;
    padding: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;

    border-radius: 20px;
    display: inline-block;

}

.herotxt {
    margin-right: 4rem;

}

.btn {
    padding: 12px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #0072be;
    color: aliceblue;
    border-radius: 5px;
}

.sbtn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #0072be;
    color: aliceblue;
    border-radius: 5px;
    font-size: 0.95rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-right: auto;
    display: block;

}

#inpt {
    display: block;
    margin-left: 1rem;

    
}

input {
    all: unset;
    border: 1px solid #4d4e4e;
    font-size: 0.85rem;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    /* background: url() no-repeat scroll 7px 7px; */
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left:30px;  
}
.inptdown{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
p {
    margin-top: 2rem;
    background-color: #0e0e0e;
    color: #9ba3b4;
    font-size: 0.8rem;
}

.link {
    color: #4daafc;
    text-decoration: underline;
}

.lg {
    align-self: center;
}
.fontpassword {
    position: relative;
}

.fontpassword i{
    position: absolute;
    left: 25px;
    /* top: 40px; */
    color: gray;
}